.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 10px;
}


hr {
  color: grey;
  background-color: rgba(215, 210, 210, 0.922);
  height: 1px;
  border: none;
  margin: 0px 0;
}

.nav {
  padding-right: 100px;
  height: 40px;
}

.logo {

  height: 30px;
}

.icons {
  height: 40px;
  align-items: right;
}

.grid-container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;

}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(207, 207, 209);
  min-width: 60px;
  min-height: 60px;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}


.keyboard {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 5px;
}

.row {
  display: flex;
}

.key {
  width: 40px;
  height: 58px;
  border: 0px;
  padding: 0;
  border-radius: 4px;
  background-color: #d3d6da;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

}

.backspace {
  width: 50px;
  height: 58px;
  border: 0px;
  padding: 0;
  border-radius: 4px;
  background-color: #d3d6da;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1.5;

}

.enter {
  width: 55px;
  height: 58px;
  border: 0px;
  padding: 0;
  border-radius: 4px;
  background-color: #d3d6da;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.80em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex: 1.5;
}